.search-result {
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}
.search-result-icon {
  text-align: center;
}
.search-result-title {
  color: black;
}
.search-result-description {
  font-size: 0.8em;
}
.search-result-ctas {
  text-align: center;
}
